
<div class="container">
  <div class="row">
    <div class="col-sm">
       
     <ul class="list-group devour">
         
        {{#each burger}}
            {{#if this.devoured}}
            {{else}}
          <li  class="list-group-item ate"> {{this.burger_name}}  <button id="{{this.id}}" type="button" class="devour btn btn-primary btn-sm float-right">Devoured</button></li>
            {{/if}}
        {{/each}}
     
       </ul>
    </div>
    
      <div class="col-sm">

        <form id="burger-form">
          <div class="form-group text-center ate">
          <label for="exampleFormControlTextarea1 " >Enter Burger Name</label>
          <textarea class="form-control" id="burger-input" rows="3" ></textarea>
          </div>
          <button  type="submit" class="btn btn-primary mb-2 ">Submit</button>
        </form>

      </div>
        
    </form>
    <div class="col-sm">
    
           <ul class="list-group devour">
         
        {{#each burger}}
            {{#if this.devoured}}
          <li  class="list-group-item devoured ate">      {{this.burger_name}}  </li>
            {{/if}}
        {{/each}}
     
       </ul>
    </div>
  </div>
</div>